.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
  padding: var(--size-40) var(--size-20);
}
body:has(.about) {
  gap: 0px;
}
.about img {
  height: 400px;
  width: auto;
}
.about p {
  line-height: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container h1 {
  margin-bottom: var(--size-20);
}

@media screen and (max-width: 992px) {
  .about {
    gap: 40px;
    max-width: 768px;
  }
  .about img {
    height: 300px;
  }
}
@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    padding-top: var(--size-40);
    padding-bottom: var(--size-40);
  }
  .about img {
    height: 200px;
  }
  .container {
    align-items: center;
    text-align: center;
  }
}
