.container {
  margin-top: 20px;
  padding: 0 var(--size-20);
  display: flex;
  flex-direction: column;
  gap: var(--size-40);
  margin-bottom: 80px;
}
.container p {
  font-size: 18px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.section h3 {
  padding-left: var(--size-20);
  margin-bottom: var(--size-40);
}

.sectionContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: var(--size-40);
}
.sectionContainer:last-of-type {
  margin-bottom: 0;
}
.sectionContainer a {
  flex: 1 1 auto;
  max-height: 240px;
  /* min-width: 190px; */
  max-width: 100%;
}

@media screen and (min-width: 520px) {
  .sectionContainer a {
    max-width: 55%;
  }
  .sectionContainer a:nth-child(4n+1),
  .sectionContainer a:nth-child(4n+4) {
    width: 44%;
  }
  .sectionContainer a:nth-child(4n+2),
  .sectionContainer a:nth-child(4n+3) {
    width: 54%;
  }
}
@media screen and (min-width: 768px) {
  .sectionContainer a {
    min-width: 33.4%;
    max-height: 300px;
  }
  .sectionContainer a:nth-child(4n+1) {
    width: 250px;
  }
  .sectionContainer a:nth-child(4n+2) {
    width: 325px;
  }
  .sectionContainer a:nth-child(4n+3) {
    width: 180px;
  }
  .sectionContainer a:nth-child(4n+4) {
    width: 380px;
  }
}
@media screen and (min-width: 992px) {
  .sectionContainer a {
    max-height: 250px;
    min-width: unset;
    max-width: 380px;
  }
}
@media screen and (min-width: 1152px) {
  .sectionContainer a {
    max-width: 35%;
    max-height: 340px;
  }
  .sectionContainer a:nth-child(4n+1) {
    width: 350px;
  }
  .sectionContainer a:nth-child(4n+2) {
    width: 425px;
  }
  .sectionContainer a:nth-child(4n+3) {
    width: 280px;
  }
  .sectionContainer a:nth-child(4n+4) {
    width: 480px;
  }
}
@media screen and (min-width: 1600px) {
  .sectionContainer a {
    max-height: 350px;
  }
}
@media screen and (min-width: 1900px) {
  .sectionContainer a {
    max-height: 400px;
  }
  .sectionContainer a:nth-child(4n+1) {
    width: 450px;
  }
  .sectionContainer a:nth-child(4n+2) {
    width: 525px;
  }
  .sectionContainer a:nth-child(4n+3) {
    width: 380px;
  }
  .sectionContainer a:nth-child(4n+4) {
    width: 580px;
  }
}
