.container {
  margin-top: 20px;
  padding: 0 var(--size-20);
  display: flex;
  flex-direction: column;
  gap: var(--size-40);
  margin-bottom: 80px;
}
.container p {
  font-size: 18px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.section h3 {
  padding-left: var(--size-20);
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: var(--size-40);
}
