.title {
  position: relative;
}
h1.title {
  font-family: var(--averia-sans-libre);
  font-size: 200%;
}
h3.title {
  font-family: var(--khand);
  font-size: 150%;
  font-weight: 500;
}
p.title {
  font-family: var(--khand);
  font-weight: 500;
  font-size: 150%;
  width: fit-content;
}
.title::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  --webkit-mask-size: cover;
  mask-size: cover;
  --webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  z-index: -1;
  transition: background-color .3s ease;
}
h1.title::before {
  width: 300px;
  height: 70px;
}
h1.title::before {
  --webkit-mask-image: url('/svg/brush-stroke.svg');
  mask-image: url('/svg/brush-stroke.svg');
}
h3.title::before,
p.title::before {
  --webkit-mask-image: url('/svg/brush-stroke-line.svg');
  mask-image: url('/svg/brush-stroke-line.svg');
  width: 200px;
  height: 25px;
  top: 75%;
}

.title.left::before {
  left: -40px;
  transform: translateY(-50%);
}
h3.title.left::before {
  left: -12px;
}
.title.center::before {
  left: 50%;
  transform: translate(-50%, -50%);
}

.blue {
  color: var(--light-100);
}
.brown {
  color: var(--light-100);
}
.title.blue::before {
  background-color: var(--blue-100);
}
.title.lightBlue::before {
  background-color: var(--light-blue-100);
}
.title.lightestBlue::before {
  background-color: var(--lightest-blue-100);
}
.title.orange::before {
  background-color: var(--orange-100);
}
.title.brown::before {
  background-color: #B06B37;
}

.title:has(a).lightestBlue:hover::before {
  background-color: var(--light-blue-50);
}
