:root {
  --light-100: rgb(243 247 242 / 1);
  --light-75: rgb(243 247 242 / 0.75);
  --light-50: rgb(243 247 242 / 0.50);

  --dark-100: rgb(1 29 40 / 1);
  --dark-80: rgb(1 29 40 / 0.8);
  --dark-75: rgb(51 92 129 / 0.75);

  --blue-100: rgb(51 92 129 / 1);
  --blue-90: rgb(51 92 129 / 0.9);

  --light-blue-100: rgb(0 178 202 / 1);
  --light-blue-50: rgb(0 178 202 / 0.5);
  --light-blue-25: rgb(0 178 202 / 0.25);

  --lightest-blue-100: #addee2;

  --orange-100: rgb(255 159 25 / 1);
  --orange-50: rgb(255 159 25 / 0.5);

  --size-40: 40px;
  --size-20: 20px;

  --background: var(--light-100);
  --foreground: var(--dark-100);

  --averia-sans-libre: Averia Sans Libre, Helvetica, Arial, sans-serif;
  --varela-round: Varela Round, Helvetica, Arial, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-100);
    --foreground: var(--light-100);
  }
} */

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--varela-round);
  font-size: 16px;
  background: var(--background);
  color: var(--foreground);
  line-height: 1.2;
  white-space: pre-wrap;
  white-space-collapse: preserve;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding-top: var(--nav-height);
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
