.artGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 6px;
}

.artFlex{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  column-gap: 6px;
}
